body {
    background-color: #F5E8AA;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #DFAE30;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #553F06;
    padding: 5px 10px;
}
.navbar a:hover {
    text-decoration: underline;
    color: #ac7c00;
}
.PetFit {
    text-decoration: none;
    color: #553F06;
    font-size: 30px;
}